<!-- component -->
<aside
  class=" min-h-1/2 min-w-full overflow-hidden bg-cover bg-center bg-[url('/banner-bg.jpg')]"

>
  <div class="flex items-center justify-around p-16 md:p-24 lg:px-16 lg:py-24 bg-slate-900/50">
    <div class="max-w-lg h-full text-center sm:text-left">
      <h2 class="text-2xl font-extrabold text-white sm:text-3xl md:text-5xl mb-2">
          Planilla Azul
      </h2>

      <p
        class="max-w-md text-white/90 md:mt-6 md:text-lg md:leading-relaxed md:block"
      >
        Sindicato Nacional de Trabajadores de la Educación
      </p>

      <div class="mt-4 sm:mt-8">
        <a
          class="inline-flex items-center px-8 py-3 text-white transition bg-gray-900 rounded-full shadow-lg focus:outline-none focus:ring focus:ring-yellow-400 hover:bg-gray-800"
          href="#"
        >
          <span class="text-sm font-medium"> Contact Us </span>

          <svg
            class="w-5 h-5 ml-3"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 8l4 4m0 0l-4 4m4-4H3"
            />
          </svg>
        </a>
      </div>
    </div>
    
    
    <div class=" grid grid-cols-2 gap-x-12 items-center ">
      <img src="/logotec.png" width="250px" height="250px" alt="moneky">
      <img src="/snte-logo.png" width="250px" height="250px" alt="moneky">
      <img src="/logo-tec-blanco.png" width="250px" height="250px" alt="moneky">
      <img src="/loro.png" width="250px" height="250px" alt="moneky">
    </div>
  </div>
</aside>